
<div class='row'>
<div class='span3'>
<table class='table'>
            <thead>
              <tr><th>Recent Posts</th></tr>
            </thead>
            {{#each controller}}
            <tr><td>
              {{#linkTo 'post' this}}{{title}} by {{author}}{{/linkTo}}
            </td></tr>
            {{/each}}
          </table>
</div>
<div class='span9'>
 <p>Post content</p>
{{outlet}}
</div>
</div>